{
    "comments": false,
    "minified": false,
    "sourceMaps": true,
    "plugins": [
        "transform-object-rest-spread"
    ],
    "env": {
        "main": {
            "presets": [
                [
                    "env",
                    {
                        "targets": {
                            "node": "8.9.0"
                        }
                    }
                ]
            ]
        },
        "renderer": {
            "presets": [
                [
                    "env",
                    {
                        "targets": {
                            "browsers": ["chrome 58"]
                        }
                    }
                ]
            ]
        }
    }
}